body{
    background-color: black;
}

.hero {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(12,3,51,0), rgba(12,3,51,0)), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 78%);
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 8%;
    z-index: 999;
}

.navbar .logo {
    width: 60px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.navbar-brand {
    user-select: none;
    -webkit-user-select: none;
}


.navbar-nav .nav-item {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 32px;
    user-select: none;
    -webkit-user-select: none;
}

.navbar-nav .nav-link {
    font-family: "PT Sans Caption", sans-serif !important; 
    font-weight: bold !important; 
    text-decoration: none !important;
    color: #fff !important; 
    font-size: 17px !important;
    
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #BF9B30 !important; 
    
}

.container-fluid {
    padding: 0px;
}


.content {
    text-align: center;
    position: relative;
    z-index: 2;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.content h1 {
    font-size: 8.333vw;
    color: #fff;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    transition: 0.5s;
    margin-bottom: 8px; 
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 1.25vw;
    border: 2px solid #fff;
    padding: 0.729vw 3.646vw;
    border-radius: 50px;
    margin-top: 1.042vw;
}



.content a:hover {
    color: #BF9B30;
    border-color: #BF9B30;
}


.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.break {
    height: 400px;
    width: 100%;
    clear: both;

}

.break2 {
    position: relative;
    height: 150px;
    width: 100%;
    clear: both;
}

.break3 {
    height: 300px;
    width: 100%;
    clear: both;
}

.icons i{
    color: white;
    margin-right: 20px;
    font-size: 40px;
}

.icons i:hover {
    color: #BF9B30;
    border-color: #BF9B30;
}

/*SOLAR SYSTEM*/

.solar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding:0 30px;
    padding-left: 100px;
}

.solartitle{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 50px;
    z-index: 2;
}

.solar-content {
    position: relative;
    width: 40%;
    height: 30vh;
    margin-bottom: 100px;
    z-index: 2; 
    top: 10%;
}

.solar-content p {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 30%;
}

.solarpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


/*THE SUN*/
.sun {
    position: relative;
    width: 100%;
    height: 100vh;
}

.suntitle{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    top: 10%;
    z-index: 2;
}

.sun-content {
    display: flex;
    justify-content: space-between;
    margin-top: 32%;
}

.sunpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
}



.sunfact {
    margin-left: auto;
    margin-right: auto;
    width: 15%; 
    position: relative;
    font-size: 15px;
    margin-top: 20px; 
    display: block; 
}

.fact1, .fact2, .fact3, .fact4, .fact5 {
    text-align: left;
    color: white;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px; 
    padding-top: 0;
    padding-bottom: 0;
}

/*THE PLANETS*/
.planets {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
}

.planetstitle{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    top: 15%;
    z-index: 2;
}

.planet-content {
    display: flex;
    justify-content: space-between;
    margin-top: 35%;
   
}

.planet-content2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

.planetpic {
    position: relative;
    bottom: 100%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
}

.planetphoto {
    width: 100%;       
}

.planetfact {
    margin-left: auto;
    margin-right: auto;
    width: 15%; 
    position: relative;
    font-size: 15px;
    display: block; 
    padding-top: 0;
    text-align: center;
    top: 25%;
}

.Mercury, .Earth, .Mars, .Venus, .Jupiter, .Saturn, .Uranus, .Neptune{
    text-align: left;
    color: white;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px; 
    padding-top: 0;
    padding-bottom: 0;
  
}

.mercurypic, .venuspic, .earthpic, .uranuspic, .neptunepic, .marspic, .jupiterpic{
    border: 2px solid black;
    width: 8.333vw;
    height: 8.333vw;
    border-radius: 90%;
    position: relative;
    background-size: contain;
}

.saturnpic{
    width: 8.333vw;
    height: 8.333vw;
    position: relative;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    top: 30%;
    left: -8%;
}

.mercurypic {
    background-image: url(img/mercury.png);
}

.venuspic{
    background-image: url(img/venus.png);
}

.earthpic{
    background-image: url(img/earth.png);
}

.uranuspic{
    background-image: url(img/uranus.png);
}

.saturnpic{
    background-image: url(img/saturn.png);
}

.neptunepic {
    background-image: url(img/neptune.png);
}

.marspic {
    background-image: url(img/mars.png);
}

.jupiterpic {
    background-image: url(img/Jupiter.png);
}

.earth-link, .jupiter-link, .mars-link, .mercury-link, .uranus-link, .neptune-link {
    display: inline-block;
    width: 8.333vw;
    height: 8.333vw;
    margin-bottom: 60px;
    position: relative;
    
}

.venus-link {
    display: inline-block;
    width: 8.333vw;
    height: 8.333vw;
    margin-bottom: 3.2vw;
}

.saturn-link {
    display: inline-block;
    width: 8.333vw;
    height: 8.333vw;
    margin-bottom: 75px;
}

.earth-link:after, .jupiter-link:after, .mars-link:after, .mercury-link:after, .uranus-link:after, .neptune-link:after{
    content: "3D model";
    position: relative;
    font-family: "PT Sans Caption", sans-serif;
    bottom: 60%;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: clamp(0.625rem, 1vw, 1.063rem);
    opacity: 0; 
    transition: opacity 0.1s ease-in-out;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

.venus-link:after
{
    content: "3D model";
    position: relative;
    bottom: 60%;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 17px;
    opacity: 0; 
    transition: opacity 0.1s ease-in-out;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

.saturn-link:after{
    content: "3D model";
    position: relative;
    bottom: 70%;
    bottom: 40%;
    right: 8%;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 17px;
    opacity: 0; 
    transition: opacity 0.1s ease-in-out;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000, 1px  1px 0 #000;
}

.earth-link:hover .earthpic, 
.jupiter-link:hover .jupiterpic, 
.mars-link:hover .marspic, 
.mercury-link:hover .mercurypic, 
.venus-link:hover .venuspic, 
.saturn-link:hover .saturnpic, .saturn-link:hover .saturnpic, .uranus-link:hover .uranuspic, .neptune-link:hover .neptunepic{
    filter: brightness(0.7);
}

.earth-link:hover:after, .jupiter-link:hover:after, 
.mars-link:hover:after, .mercury-link:hover:after, 
.venus-link:hover:after, .saturn-link:hover:after, .uranus-link:hover:after, .neptune-link:hover:after{
    opacity: 1;
}


.textneptune {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 30px;
    height: 0px;
    width: 100%;
    position: relative;
    bottom: 100px; 
    text-align: center;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


/*3D*/
#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
}

/*Custom Scroll Bar*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent; 
    border-radius: 10px; 
}
  
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 10px; 
}
  
footer {
    position: relative;
    background-color: #383838; 
    color: #fff; 
    height: 800px;
    padding: 100px;
}

.school{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 30px;
    position: relative;

}

.number {
    position: relative;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.address {
    position: relative;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.socialcontainer {
    position: relative;
    left: 70%;
    width: 25%;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 30px;
    top: -100%;
}

.map-container iframe {
    margin-bottom: 1%;
}



/* RESPONSIVE */
/* For small devices  */
@media (max-width: 991px) {

    .content h1 {
        font-size: 10vw;
        color: #fff;
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        transition: 0.5s;
        margin-bottom: 8px; 
    }
    
    .content a {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 1.25vw;
        border: 2px solid #fff;
        padding: 1.5vw 6vw;
        border-radius: 50px;
        margin-top: 3vw;
    }

    .break {
        height: 70vh;
        width: 100%;
        clear: both;
    
    }
    
    .break2 {
        height: 10vh;
        width: 100%;
        clear: both;
    }
    
    .break3 {
        height: 60vh;
        width: 100%;
        clear: both;
    }
    

    /*NAVBAR*/
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        padding: 10px 8%;
        z-index: 999;
    }
    
    .navbar .logo {
        width: 60px;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
    }
    
    .navbar-brand {
        user-select: none;
        -webkit-user-select: none;
    }
    
    .navbar-nav li{
        text-align: right;
    }
    
    .navbar-nav .nav-item {
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 32px;
        user-select: none;
        -webkit-user-select: none;
    }
    
    .navbar-nav .nav-link {
        font-family: "PT Sans Caption", sans-serif !important; 
        font-weight: bold !important; 
        text-decoration: none !important;
        color: #fff !important; 
        font-size: 17px !important;
        
    }

    
    
    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link:focus {
        color: #BF9B30 !important; 
        
    }
    
    .container-fluid {
        padding: 0px;
    }

    /*SOLAR SYSTEM*/

    .solar {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-left: 30px;
    }

    .solartitle{
        position: relative;
        text-align: center;
        color: white;
        font-size: 50px;
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        top: 10%;
        z-index: 2;
    }

    .solar-content {
        position: relative;
        width: 100%;
        height: auto;
        top: 20%;
        margin-bottom: 100px;
        z-index: 2; 
    }

    .solar-content p {
        text-align: left;
        color: white;
        font-size: 20px;
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        margin-top: 30%;
        text-align: center;
    }

    .solarpic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
        
    }


    /*THE SUN*/
    .sun {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .suntitle{
        position: relative;
        text-align: center;
        color: white;
        font-size: 50px;
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        top: 15%;
        z-index: 2;
    }

    .sun-content {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 40%;
    }

    .sunpic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: 1;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
    }



    .sunfact {
        width: 80%; 
        position: relative;
        font-size: 15px;
        display: block; 
        
    }

    .fact1, .fact2, .fact3, .fact4, .fact5 {
        text-align: center;
        color: white;
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0px; 
        padding-top: 0;
        padding-bottom: 0;
    }

    .fact2, .fact3, .fact4, .fact5 {
        margin-bottom: 5%;
    }

    /*THE PLANETS*/
    .planets {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    

    .planetstitle{
        position: relative;
        text-align: center;
        color: white;
        font-size: 50px;
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        top: 23vh;
        z-index: 2;
    }

    .planet-content {
        display: flex;
        justify-content: space-between;
        margin-top: 30%;
    }

    .planet-content2 {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }

    .planet-content,
    .planet-content2 {
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .planetpic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        object-fit: cover;
        z-index: 1;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
    }



    .planetfact {
        width: 100%; 
        position: relative;
        margin-top: 90%; 
        padding: 20px;
        padding-bottom: 0px;
    }

    .Mercury, .Earth, .Mars, .Venus, .Jupiter, .Saturn, .Uranus, .Neptune{
        position: relative;
        text-align: left;
        color: white;
        font-size: clamp(0.313rem, 5vw, 1.875rem);
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        transform: translateY(220%);
        padding-left: 3%;
        margin-bottom: 10%;
    }

    .mercurypic,  .uranuspic, .neptunepic, .jupiterpic{
        border: 2px solid black;
        width: 50vw;
        height: 50vw;
        border-radius: 90%;
        position: relative; 
        background-size: contain;
    }


    .venuspic {
        border: 2px solid black;
        width: 50vw;
        height: 50vw;
        border-radius: 90%;
        position: relative; 
        background-size: contain;
    }

    .earthpic {
        border: 2px solid black;
        width: 50vw;
        height: 50vw;
        border-radius: 90%;
        position: relative; 
        background-size: contain;
    }

    .marspic {
        border: 2px solid black;
        width: 50vw;
        height: 50vw;
        border-radius: 90%;
        position: relative; 
        background-size: contain;
    }

    

    .saturnpic{
        border: 2px solid black;
        width: 70vw;
        height: 75vw;
        border-radius: 90%;
        position: relative; 
        background-size: 60%;
        background-position-x: 35%;
        background-position-y: 40%;
        transform: translateX(7%);
    }

    

    .mercury-link, .uranus-link, .neptune-link {
        display: inline-block;
        width: 50vw;
        height: 50vw;
        position: relative;
    }

    .earth-link{
        display: inline-block;
        width: 50vw;
        height: 50vw;
        position: relative;
      
    }

    .venus-link {
        display: inline-block;
        width: 50vw;
        height: 50vw;
        position: relative;
  

    }

    .jupiter-link{
        display: inline-block;
        width: 50vw;
        height: 50vw;
        position: relative;

    }

    .mars-link {
        display: inline-block;
        width: 50vw;
        height: 50vw;
        position: relative;

    }

    .saturn-link {
        display: inline-block;
        width: 70vw;
        height: 75vw;
        position: relative;
    }

    

    .earth-link:hover .earthpic, 
    .jupiter-link:hover .jupiterpic, 
    .mars-link:hover .marspic, 
    .mercury-link:hover .mercurypic, 
    .venus-link:hover .venuspic, 
    .saturn-link:hover .saturnpic, .saturn-link:hover .saturnpic, .uranus-link:hover .uranuspic, .neptune-link:hover .neptunepic{
        filter: brightness(0.7);
    }

    .earth-link:hover:after, .jupiter-link:hover:after, 
    .mars-link:hover:after, .mercury-link:hover:after, 
    .venus-link:hover:after, .saturn-link:hover:after, .uranus-link:hover:after, .neptune-link:hover:after{
        opacity: 1;
    }

    .earth-link:after, .jupiter-link:after, .mars-link:after, .mercury-link:after, .uranus-link:after, .neptune-link:after{
        content: "";
        position: relative;
        font-family: "PT Sans Caption", sans-serif;
        bottom: 60%;
        left: 25%;
        font-weight: 700;
        text-decoration: none;
        color: white;
        font-size: clamp(0.625rem, 1vw, 1.063rem);
        opacity: 0; 
        transition: opacity 0.1s ease-in-out;
        text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
    }
    
    .venus-link:after
    {
        content: "";
        position: relative;
        bottom: 60%;
        left: 25%;
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: white;
        font-size: 17px;
        opacity: 0; 
        transition: opacity 0.1s ease-in-out;
        text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
    }
    
    .saturn-link:after{
        content: "";
        position: relative;
        bottom: 70%;
        left: 25%;
        transform: translate(-50%, -50%);
        font-family: "PT Sans Caption", sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: white;
        font-size: 17px;
        opacity: 0; 
        transition: opacity 0.1s ease-in-out;
        text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000, 1px  1px 0 #000;
    }
    

    





    .footer {
        height: auto; 
        padding-bottom: 20px; 
        padding-right: 20px;
    }

    .school {
        position: relative;
        text-align: center;
        bottom: 3%;
    }

    .address {
        position: relative;
        margin-bottom: 3%;
    }

    .number {
        position: relative;
        margin-bottom: 3%;
    }

    .socialcontainer {
        position: static; 
        display: block;
        margin-top: 20px; 
        text-align: center;
    }
    
    .map-container iframe{
        position: relative;
        width: 100%;
        margin-bottom: 5%;
    }

    
}
