body{
    background-color: black;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(12,3,51,0), rgba(12,3,51,0)), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

nav .logo {
    width: 60px;
    pointer-events: none;
    user-select: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    margin-top: 13px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul li a {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    
}

nav ul li a:hover {
    color: #BF9B30;
}

.content {
    text-align: center;
    position: relative;
    z-index: 2;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content h1 {
    font-size: 160px;
    color: #fff;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    transition: 0.5s;

}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;

}

.content a:hover {
    color: #BF9B30;
    border-color: #BF9B30;
}


.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.break {
    height: 400px;
    width: 100%;
    clear: both;

}

.break2 {
    height: 150px;
    width: 100%;
    clear: both;
}



/*SOLAR SYSTEM*/

.solar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.solartitle{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 50px;
    z-index: 2;
}

.solar-content {
    position: relative;
    width: 30%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 100px;
    margin-right: 10%;
    z-index: 2; 
}

.solar-content p {
    text-align: left;
    color: white;
    font-size: 20px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 30%;
}

.solarpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


/*THE SUN*/
.sun {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.suntitle{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    top: 100px;
    z-index: 2;
}

.sun-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
}

.sunpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
}



.sunfact {
    margin-left: auto;
    margin-right: auto;
    width: 15%; 
    position: relative;
    font-size: 15px;
    margin-top: 20px; 
    display: block; 
}

.fact1, .fact2, .fact3, .fact4, .fact5 {
    text-align: left;
    color: white;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px; 
    padding-top: 0;
    padding-bottom: 0;
}

/*THE PLANETS*/
.planets {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.planetstitle{
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    top: 80px;
    z-index: 2;
}

.planet-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
}

.planet-content2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.planetpic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)75%);
}



.planetfact {
    margin-left: auto;
    margin-right: auto;
    width: 15%; 
    position: relative;
    font-size: 15px;
    margin-top: 20px; 
    display: block; 
}

.Mercury, .Earth, .Mars, .Venus, .Jupiter, .Saturn, .Uranus, .Neptune{
    text-align: left;
    color: white;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px; 
    padding-top: 0;
    padding-bottom: 0;
}

.mercurypic, .venuspic, .earthpic, .uranuspic, .neptunepic, .marspic, .jupiterpic{
    border: 2px solid black;
    width: 160px;
    height: 160px;
    border-radius: 90%;
    position: relative;
    left: 60px;
    top: -50px;
    background-size: contain;
}

.saturnpic{
    width: 160px;
    height: 160px;
    position: relative;
    left: 60px;
    top: -10px;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.mercurypic {
    background-image: url(img/mercury.png);
}

.venuspic{
    background-image: url(img/venus.png);
}

.earthpic{
    background-image: url(img/earth.png);
}

.uranuspic{
    background-image: url(img/uranus.png);
}

.saturnpic{
    background-image: url(img/saturn.png);
}

.neptunepic {
    background-image: url(img/neptune.png);
}

.marspic {
    background-image: url(img/mars.png);
}

.jupiterpic {
    background-image: url(img/Jupiter.png);
}

.earth-link, .jupiter-link, .mars-link, .mercury-link, .uranus-link, .neptune-link {
    display: inline-block;
    width: 8px;
    height: 80px;
    margin-bottom: 60px;
}

.venus-link {
    display: inline-block;
    width: 8px;
    height: 60px;
    margin-bottom: 80px;
}

.saturn-link {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 75px;
}

.earth-link:after, .jupiter-link:after, .mars-link:after, .mercury-link:after, .venus-link:after, .uranus-link:after, .neptune-link:after{
    content: "3D model";
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 17px;
    opacity: 0; 
    transition: opacity 0.1s ease-in-out;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000,1px  1px 0 #000;
}

.earth-link:hover .earthpic, 
.jupiter-link:hover .jupiterpic, 
.mars-link:hover .marspic, 
.mercury-link:hover .mercurypic, 
.venus-link:hover .venuspic, 
.saturn-link:hover .saturnpic, .saturn-link:hover .saturnpic, .uranus-link:hover .uranuspic, .neptune-link:hover .neptunepic{
    filter: brightness(0.7);
}

.earth-link:hover:after, .jupiter-link:hover:after, 
.mars-link:hover:after, .mercury-link:hover:after, 
.venus-link:hover:after, .saturn-link:hover:after, .uranus-link:hover:after, .neptune-link:hover:after{
    opacity: 1;
}

.saturn-link:after{
    content: "3D model";
    position: absolute;
    top: 45px;
    left: 49%;
    transform: translate(-50%, -50%);
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 17px;
    opacity: 0; 
    transition: opacity 0.1s ease-in-out;
    text-shadow: -1px -1px 0 #000,  1px -1px 0 #000,-1px  1px 0 #000, 1px  1px 0 #000;
}

.uranus-link:after, .neptune-link:after{
    content: "3D model";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 17px;
    opacity: 0; 
    transition: opacity 0.1s ease-in-out;
}

.textneptune {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 30px;
    height: 0px;
    width: 100%;
    position: relative;
    bottom: 100px; 
    text-align: center;
}


/*3D*/
#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
}


